<body class="flex h-screen bg-indigo-700">
    <div class="w-full max-w-xs m-auto bg-indigo-100 rounded p-5">
        <h1 class="text-center text-indigo-700 font-black">Password assistance</h1>
  <!-- header -->
  <header>
    <img class="w-20 mx-auto mb-5" src="https://www.pngarts.com/files/6/Blue-Bank-PNG-Image-Background.png" />
  </header> 

  <p class="text-center text-indigo-700 font-semibold">Enter the email address or accountno number associated with your bank account.</p>
   
 <!-- form -->
 <form action="#" method="POST">
    <div>
     <label class="block mb-2 text-indigo-500" for="email">Email/Acno</label>
     <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300" type="text" [(ngModel)]="acnoemail" id="acnoemail" name="acnoemail">
   </div>  

   <div>          
    <input class="w-full bg-indigo-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded" type="submit" (click)="sendemail()">
  </div>  

  <div>          
    <input class="w-full bg-red-700 hover:bg-indigo-700 text-white font-bold py-2 px-4 mb-6 rounded" type="button" value="back to Login page" (click)="revertback()">
  </div> 

   </form> 
</div> 
</body>