<!-- component -->

<div class="flex flex-wrap">
  <div class="bg-white shadow  my-2 w-64  flex-auto">
    <ul class="list-reset my-28">
      <li >
        <a  routerLink="changepassword" class="block p-4 text-grey-darker font-bold border-gray-lighter hover:border-purple-700 hover:bg-gray-300 border-r-4">Changepassword</a>
      </li>
      <li >
        <a  routerLink="myinfo" class="block p-4 text-grey-darker font-bold border-gray-lighter hover:border-purple-700 hover:bg-gray-300 border-r-4">Myinfo</a>
      </li>
      <li >
        <a  routerLink="deposit" class="block p-4 text-grey-darker font-bold border-gray-lighter hover:border-purple-700 hover:bg-gray-300 border-r-4">Deposit</a>
      </li>
      <li >
        <a routerLink="transfer" class="block p-4 text-grey-darker font-bold border-gray-lighter hover:border-purple-700 hover:bg-gray-300 border-r-4">Transfer</a>
      </li>
    </ul>
  </div>
  <div class="flex-auto">
  <router-outlet></router-outlet>
  </div>
  </div>

