<div>
    <h1 class="text-center text-green-900 border-b-8 mx-auto border-indigo-900 text-2xl font-bold">Personal Info</h1>
</div>
<table class="table-fixed border-solid  border-yellow-900 border-2 text-center">
  
            <tbody class="bg-green-300 ">  
            <tr class="border-solid border-yellow-900 border-2">
                <th class="p-4" class="border-solid bg-gray-200 border-yellow-700 border-2">Accno:</th>
                <td class="p-2">{{user.accno}}</td>
            </tr >
    
            <tr class="border-solid border-yellow-900 border-2">
                <th class="border-solid border-yellow-700 bg-yellow-200 border-2 p-2">Name:</th>
                <td>{{user.name}}</td>
            </tr>
            <tr class="border-solid border-yellow-900 border-2">
                <th class="border-solid border-yellow-700 bg-gray-200 border-2 p-2">Gender:</th>
                <td>{{user.gender}}</td>
            </tr>
    
            <tr class="border-solid border-yellow-900 border-2">
                <th class="border-solid border-yellow-700 bg-yellow-200 border-2 p-2">Mobile:</th>
                <td>{{user.mobileno}}</td>
            </tr>
    
            <tr class="border-solid border-yellow-900 border-2">
                <th class="border-solid border-yellow-700 bg-gray-200 border-2 p-2">Email:</th>
                <td>{{user.email}}</td>
            </tr>
    
            <tr class="border-solid border-yellow-900 border-2">
                <th class="border-solid border-yellow-700 bg-yellow-200 border-2 p-2">Balance:</th>
                <td>{{user.balance}}</td>
            </tr>
    
            <tr class="border-solid border-yellow-900 border-2">
                <th class="border-solid border-yellow-700 bg-gray-200 border-2 p-2">State:</th>
                <td>{{user.state}}</td>
            </tr>
            <tr class="border-solid border-yellow-900 border-2">
                <th class="border-solid border-yellow-700 bg-yellow-200 border-2 p-2">City:</th>
                <td>{{user.city}}</td>
            </tr>
    </tbody>
  </table>